VLLM_IMAGE=vllm/vllm-openai:nightly
CONTAINER_NAME=vllm
HF_CACHE_DIR=~/.cache/huggingface
VLLM_MODEL=nvidia/NVIDIA-Nemotron-3-Nano-30B-A3B-NVFP4
VLLM_SERVED_MODEL_NAME=nemotron-3-nano
VLLM_REASONING_PARSER=nano_v3
VLLM_REASONING_PARSER_PLUGIN=/app/reasoning_parsers/nano_v3_reasoning_parser.py
VLLM_REASONING_PARSER=nano_v3
# 1 for models lengths of 1M and more, 0 otherwise
VLLM_ALLOW_LONG_MAX_MODEL_LEN=0
VLLM_MAX_MODEL_LEN=262144
VLLM_GPU_MEMORY_UTILIZATION=0.80
VLLM_KV_CACHE_DTYPE=fp8
VLLM_TOOL_CALL_PARSER=qwen3_coder
