APP_NAME=Overleaf CE
DOMAIN=latex.example.tld
ADMIN_EMAIL=you@example.tld

OVERLEAF_DATA_PATH=/srv/overleaf/sharelatex
MONGO_DATA_PATH=/srv/overleaf/mongo
REDIS_DATA_PATH=/srv/overleaf/redis
SEAWEEDFS_DATA_PATH=/srv/overleaf/seaweedfs

S3_ACCESS_KEY=changeme-make-this-long-and-random
S3_SECRET_KEY=changeme-make-this-long-and-random
S3_SIGNING_KEY=changeme-make-this-long-and-random
S3_USER_FILES_BUCKET=overleaf-user-files
S3_TEMPLATE_FILES_BUCKET=overleaf-template-files
