POSTGRES_PASSWORD=dbpassword9090
POSTGRES_DATA=./postgres_data

# PROMETHEUS_DATA=./prometheus_data

LITELLM_TRAEFIK_DOMAIN=litellm.yourdomain.com
UI_USERNAME=admin
UI_PASSWORD=adminpassword123
# The master key is recommended to start with sk- prefix, but only because some frameworks expect it, as it matches what OpenAI API keys look like. Can be set to any random string.
LITELLM_MASTER_KEY=sk-your_master_key_here