HF_TOKEN=
OUTPUT_MODELS_PATH=./output_models
HF_CACHE_DIR=~/.cache/huggingface
# Check for releases: https://github.com/NVIDIA/Model-Optimizer/releases
MODEL_OPTIMIZER_VERSION=0.43.0
MODEL=mistralai/Ministral-3-3B-Instruct-2512
QUANT=nvfp4
TP=1
EXPORT_FMT=hf
