TRAEFIK_YML_PATH=./traefik/traefik.yml
TRAEFIK_ACME_PATH=./traefik/acme.json
TRAEFIK_CONFIGURATIONS_PATH=./traefik/configurations
TRAEFIK_DOMAIN=traefik.example.com
TRAEFIK_LOG_PATH=/var/log/traefik

# Must match the crowdsec-bouncer middleware key in traefik/configurations/dynamic.yml
CROWDSEC_BOUNCER_KEY=your-bouncer-key-here

CROWDSEC_DB_PATH=./data/db
CROWDSEC_CONFIG_PATH=./data/config
