HF_CACHE_DIR=~/.cache/huggingface
DOCKER_IMAGE=nvcr.io/nvidia/tensorrt-llm/release:spark-single-gpu-dev
CONTAINER_NAME=trtllm-server
PORT=8000
CONFIG_FILE=/model_configs/default.yml
MODEL_HANDLE=nvidia/NVIDIA-Nemotron-3-Super-120B-A12B-NVFP4
MAX_BATCH_SIZE=64
